@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
	--soft-blue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
	/* main BG */
	--main--very-dark-blue: hsl(217, 54%, 11%);
	/* card BG */
	--card-very-dark-blue: hsl(216, 50%, 16%);
	/* line */
	--very-dark-blue: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	line-height: 1.5;
	font-size: 18px;
	font-family: 'Overpass', sans-serif;
	font-weight: 400;
	min-height: 100vh;
	background-color: var(--main--very-dark-blue);
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
select {
	font: inherit;
}

.main {
	max-width: 20rem;
	background-color: var(--card-very-dark-blue);
	padding: 2rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	box-shadow: -15px 0 10px -5px hsl(217, 51%, 9%),
		15px 0 10px -5px hsl(217, 51%, 9%), 0 25px 20px hsl(217, 51%, 9%);
}

/* Screen Reader heading */
.main__heading--sr {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.main__avatar--para:hover,
.main__heading:hover {
	color: var(--cyan);
	cursor: pointer;
}

.main__image {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.main__image--nft {
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
}

.main__image--overlay {
	position: absolute;
	border-radius: 0.5rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: cyan;
	opacity: 0;
	transition: opacity 0.3s ease;
	/* style the view icon at the center */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main__image--view {
	width: 2rem;
	color: var(--white);
}

.main__image:hover .main__image--overlay {
	opacity: 0.6;
	cursor: pointer;
}

.main__heading {
	text-align: left;
	width: 100%;
}

.main__textsection {
	display: flex;
	justify-content: space-between;
}

.main__textsection {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.main__para--light,
.main__para--time,
.main__avatar p {
	color: var(--soft-blue);
	font-size: smaller;
}

.main__para {
	display: flex;
	font-size: smaller;
}

.main__para > img {
	margin-right: 0.5rem;
}

.main__para--abbrev {
	color: var(--cyan);
	font-weight: bold;
}

hr {
	height: 1px;
	width: 100%;
	color: var(--soft-blue);
}

.main__avatar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.main__avatar img {
	border: 2px solid white;
	border-radius: 50%;
	width: 3rem;
	margin-right: 1rem;
}

.main__avatar--para {
	color: var(--white);
	font-weight: 400;
}
